body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: lightgray;
}

header {
    display: flex;
}

main {
    display: flex;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


h3 {
    margin-top: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #0bf;
    text-decoration: none;
}

a:hover {
    color: #09f;
}


.profile-photo {
    width: 16rem;
    height: 16rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: center;
}

.nav {
    display: flex;
    height: 4rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 2rem;
}

.side-column {
    width: 14rem;
    background-color: #222;
    padding: 1rem;
}

.main-block {
    padding: 1rem 2rem 1rem 2rem;
}

.title {
    margin-top: 1rem;
    margin-left: 1rem;
}

.description {
    color: #888;
    margin-left: 2rem;
}

.code-block {
    background-color: black;
    color: white;
    padding: 1rem
}

.contacts-list {
    margin-left: 1rem;
}

.skills {
    margin-left: 1rem;
}

.content {
    margin-left: 1rem;
}


.footer_git_logo {
    width: 3rem;
    height: 3rem;
}

.footer-rsschool {
    width: 9rem;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

.footer-year {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-width: .5rem 0px 0px 0px;
    border-style: solid;
    border-color: #222;
    margin: 1rem;
}